@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

:root{
    --black: #000000;
    --light-black: #2F2F2F;
    --white: #ffffff;
    --yellow: #fcb000;
    --light-yellow: #eebf50;
    --blue: #118AC5;
    --dark-blue: #015781;
    --light-blue: #CAE8FD;
    --light-gray: #F4F6FB;
    --orange: #FE7443;
}

html{
    font-size: 62.5%;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
/* GLOBAL SECTION */
body{
}

img{
    width: 2rem;
}


header,
section,
footer{
    padding: 1rem 2rem;
}

.title{
    font-size: 2rem;
}

.subtitle{
    font-size: 1.5rem;
}

.paragraph{
    color: var(--light-black);
    font-size: 1rem;
}

/* HEADER SECTION */
header button,
.nav-mobile ul,
.nav{
    display: none;
}

header, footer{
    background-color: var(--light-blue);
}

header h1{
    font-size: 1.6rem;
}

.logo{
    width: 100%;
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img{
    width: 5rem;
    object-fit: contain;
}

/* MAIN SECTION */
main, footer{
}

section{
    min-height: 90vh;
    padding: 2rem;
    background-color: var(--white);
}

section:nth-child(1),
section:nth-child(3){
    background-color:var(--light-gray);
}


/* top section */
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.top__text{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.since{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    color: var(--blue);
    font-weight: bold;
    font-size: 1.2rem;
}

.top__text-title{
    font-size: 2rem;
}


.btn{
    background-color: var(--yellow);
    border: none;
    outline: none;
    border-radius: 2rem;
    padding: 2rem 3rem;
    font-size: 1.1rem;
    width: 25rem;
    transition: background-color .5s ease-in;
}


.btn:hover{
    background-color: var(--light-yellow);
}

.btn a{
    color: var(--black);
    font-weight: bold;
    text-decoration: none;
    transition: background-color .5s ease-in, color .5s ease-in;
}

.top__img{
    flex: 1;
    width: 80%;
    margin-bottom: -2.5rem;
}

.top__img img{
    width: 100%;
}

/* services section */
.services{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.services-top__text h4{
    color: var(--orange);
}

.card{
    background-color: var(--light-gray);
    padding: 2rem;
    display: grid;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 50px 7px rgba(0,0,0,0.1);
}

.card__img{
    width: 5rem;
    justify-self: center;
    margin-bottom: 2rem;
}

.card h4{
    text-align: center;
}

.card p{ 
    text-align: start;
}

/* experience section */
.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.experience__imgs{
    text-align: center;
}

.experience .experience__imgs img{
    width: 80%;
}

.experience__text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.experience-item{
    display: flex;
    align-items: start;
    gap: 2rem;
}

.experience-item img{
    background-color: var(--light-blue);
    border-radius: 50%;
    padding: .5rem;
    width: 3rem;
}

.experience-content h4{
    margin-bottom: .5rem;
}

/* contact section */
.contact{
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact__info{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--blue);
}

.contact__info span{
    color: var(--black);
}

/* FOOTER SECTION */
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}